$govuk-blue: #005ea5;
$red: #d4351c;
$grey-1: #6f777b;
$grey-2: #bfc1c3;
$grey-3: #dee0e2;
$grey-4: #f8f8f8;
$light-blue: #2b8cc4;
$link-colour: $govuk-blue;
$link-active-colour: $light-blue;
$link-hover-colour: $light-blue;
$link-visited-colour: #4c2c92;
$yellow: #ffbf47;
$black: #0b0c0c;
$banner-text-colour: #000;
$white: #fff;
$panel-colour: #dee0e2;
$secondary-text-colour: $grey-1;
$page-colour: $white;

.js-visible {
  display: none !important;
}

.js-enabled .js-visible {
  display: inline-block !important;
}

.autocomplete__wrapper {
    max-width: 11.5em;
}

.grid-row {
  margin: 0 -15px;

  &::after {
    clear: both;
    content: "";
    display: block;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 15px;
}
.card {
  flex-basis: 100%;
  flex-grow: 0;
  margin-bottom: 2em;
}
@media print {

  .govuk-link {
    pointer-events: none !important;
    cursor: default !important;
    text-decoration: none !important;
    color: black !important;
  }

  #print-this-page, .hmrc-sign-out-nav, .govuk-footer, #back-link  {
    display: none !important;
  }
  .govuk-grid-column-two-thirds {
    width:100%;
  }
  a[href]:after {
    content: none !important;
  }
}

@media screen and (min-width:600px) and (max-width:900px) {
  .card {
    flex-basis: 45.99%;

    // Every card in the first row needs horizontal margin
    &:nth-child(2n-1) {
      margin-right: 3%;
    }

    // Every card in the second row needs horizontal margin
    &:nth-child(2n-2) {
      margin-left: 3%;
    }
  }
}

@media screen and (min-width:900px) {
  .card {
    flex-basis: 31%;

    &:nth-child(3n-1) {
      margin-left: 3%;
      margin-right: 3%;
    }
  }
}

html[data-useragent*="MSIE 10.0"] .flex-container {
  .card {
    flex-basis: 31%;
    margin: 3%;
  }
}

.card {
  border: 1px solid $panel-colour;
  font-size: 16px;

  &.inactive {
    color: $secondary-text-colour;
  }

  .card-heading {
    color: #1d70b8;
    margin-top: 0;
  }

  .card-body {
    border-bottom: 1px solid $panel-colour;
    padding: 12px;

    *:last-child {
      margin-bottom: 0;
    }

    background-color: $grey-4;

    &.active {
      transition: 0.1s ease-in-out;

      .card-heading a {
        color: $link-colour;
        margin-top: 0;

        &:focus {
          box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
          color: $black;
          outline: 3px solid transparent;
        }
      }
    }

    .detail-large {
      color: $secondary-text-colour;
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 8px;
    }

    .detail {
      font-weight: 600;
      margin-bottom: 8px;
    }

  }

  .card-action {
    border-top: 0;
    padding: 12px;

    ul {
      margin: 0;

      li {
        margin: 0 0 1em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}


.card-body.active {
  &:hover {
    background-color: $link-colour;
    color: $page-colour;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    transition-delay: 0.25s;

    .card-heading,
    p {
      color: $page-colour;
      transition: 0.1s ease-in-out;
      transition-delay: 0.25s;
    }

    .card-heading a {
      color: $page-colour;
      transition-delay: 0.25s;
    }

    .detail-large {
      color: $page-colour;
      transition-delay: 0.25s;
    }
  }

  a {
    text-decoration: none;
  }
}
